#meme-image-container {
    border-color: black;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    width: 400px;
    height: 400px;
    margin: 15px 1px 10px 6px;
    position: relative;
    padding: 5px;
}
#meme-text {
    font-size: 30px;
    font-style: normal;
    color: white;
    text-shadow: black 5px 5px 5px;
    position: absolute;


}
#meme-image{
    width: 400px;
    height: 400px;
}

