.image-container {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 450px;
  position: relative;
  width: 450px;
}

.image {
  height: 100%;
  width: 100%;
}

.text {
  bottom: 15%;
  color: white;
  font-size: 30px;
  left: 10%;
  max-width: 50%;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  top: 80%;
}
