body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}
.imgdb img{
  height: 100px;
  width: 100px;
}
.meme-image {
  width: 400px;
}
header {
  background-color: rgb(0 , 100 , 0);
  color: rgb(255 , 255 , 255);
  font-size: 50px;
  font-weight: bolder;
  height: 150px;
  line-height: 2em;
  margin: 0;
  text-align: center;
  width: auto;
}

form{
  line-height: 2em;
  margin: 15px 0 15px 0;
}
form input[type=text] {
  box-sizing: border-box;
  width: 100%;
}
button{
  align-items: center;
  display: inline;
}
section .meme-image-container {
  background-color: rgb( 255 , 255 , 255);
  border: rgb(0 , 0 , 0) solid 1px;
}
.esquerda {
  float: left;
  margin-left: 400px;
  margin-right: 5px;
}
.direita {
  float: left;
  margin-left: 0;
  margin-right: auto;
}