body {
  background-color: rgb(64 , 119 , 100);
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

header {  
  background-color: rgb(255 , 255 , 255);
  color: rgb(36 , 66 , 56);
  text-align: center;
  height: 40px;
}

header h1, #trybe-logo {
  display: inline-block;
}

header #trybe-logo {
  position: absolute;
  margin-top: 15px ;
  width: 70px;
  left: 15px;
}

header h1 {
  font-size: 24px;
  margin: 0;
  line-height: 40px;
  text-align: center;
}

#meme-imput-container {
  height: 60px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#meme-imput-container input{
  margin-top: 5px;
}

#meme-image-container {
  width: 400px;
  background-color: rgb(255 , 255 , 255);
  border: 1px solid rgb(0 , 0 , 0);
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 10px; */
}

#meme-image-container #meme-image {
  width: 400px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

#meme-image-container #meme-text {
  /* margin: 0; */
  position: absolute;
  width: 400px;
  top: 200px;
  text-align: center;
  font-size: 30px;
  text-shadow: 5px 5px 5px rgb(0 , 0 , 0);
  color: rgb(255 , 255 , 255);
}

#meme-buttons-container { 
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
}

#meme-buttons-container button { 
  width: 60px;
  height: 25px;
  color: rgb(255 , 255 , 255);;
}

#meme-buttons-container #fire { 
  background-color: rgb(255 , 0 , 0);
}

#meme-buttons-container #water { 
  background-color: rgb(0 , 0 , 255);
}

#meme-buttons-container #earth { 
  background-color: rgb(0 , 128 , 0 );;
}

#meme-famosos-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
}

#meme-famosos-container img { 
  width: 80px;
  height: 70px;
  border-radius: 90%;
  /* background-image: url(url da foto de perfil); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#meme-famosos-container img:hover {
  cursor: pointer;
}

footer {
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

footer h2 {
  width: 400px;
  font-size: 12px;
  font-weight: lighter;
  color: rgb(255 , 255 , 255);
}
