.container , img {
  height: 500px;
  width: 600px;
}

section {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container {
  background-color: white;
  border: 1px solid black;
  position: relative;
}

div {
  bottom: 11px;
  color: white;
  font-size: 30px;
  position: absolute;
  text-shadow: black 5px 5px 5px;
}

.fire {
  border: 3px dashed red;
}

.water {
  border: 5px double blue;
}

.earth {
  border: 6px groove green;
}

button:nth-of-type( 1 ) , button:nth-of-type( 2 ) , button:nth-of-type( 3 ) {
  color: white;
}

button:nth-of-type( 1 ) {
  background-color: red;
}

button:nth-of-type( 2 ) {
  background-color: blue;
}

button:nth-of-type( 3 ) {
  background-color: green;
}

.thumbnail {
  height: 200px;
  width: 240px;
}
